/* #root{
  background-color: #fff0d4;
  height: 100vh;
} */

body {
  background-color: #fff0d4 !important;
}

* {

  margin: 0;
  padding: 0;
  border: 0;
}

.app-bg{
  background-color: #fff0d4 !important;
}

.color-nav{
  background-color: #dd604ac4;
  border-radius: 10px;
}
.text-color-nav{
  color: rgb(104, 54, 21);
  font-weight: bolder;
  font-size: larger;
}

.text-total{
  color: rgb(104, 54, 21);
  font-style: italic;
  font-family: Verdana ;
}


.color-card .card:nth-child(odd) {
  background-color: #73a5809f;
  border-radius: 3px;
}

.color-card .card:nth-child(even){
  background-color: #f4866867;
  border-radius: 3px;
}
  
.detail-card{
  background-color: #73A580;
}