#root{
  background-color: red;
  height: 100vh;
}

.app-bg{
  background-color: #fff0d4;
  height: 100vh;
}

.color-nav{
  background-color: #DD614A;
  border-radius: 10px;
}


.color-card .card:nth-child(odd) {
  background-color: #73A580;
  border-radius: 3px;
}

.color-card .card:nth-child(even){
  background-color: #F48668;
  border-radius: 3px;
}
  
.detail-card{
  background-color: #73A580;
}